if [ -f /opt/homebrew/opt/llvm@20/bin/clang ]; then
    ROOT="/opt/homebrew/opt/llvm@20"
    export CXX="$ROOT/bin/clang++"
    export CC="$ROOT/bin/clang"

    # add llvm20 clangd to path
    export PATH=$ROOT/bin:$PATH

    # necessary for clang-scan-deps, see https://github.com/llvm/llvm-project/issues/61006 and https://github.com/KhronosGroup/Vulkan-Hpp/issues/2420
    export SDKROOT="$(xcrun --sdk macosx --show-sdk-path)"
    export CXXFLAGS="-isysroot $SDKROOT"
    export CFLAGS="-isysroot $SDKROOT"
else
    use flake
fi
