[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/glaze"]
	path = vendor/glaze
	url = https://github.com/stephenberry/glaze
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d
